body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-size: 2vw;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#00223E,#FFA17F);
  position: absolute;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  margin-top: 75vh;
  position: absolute;
  margin-left: 30vw;
  margin-right: auto;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

li {
  display: inline-block;
  color: white;
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  opacity: .5;
}

li:hover {
  opacity: 1;
  transition-duration: 2s;
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
}
/* selected link */
a:active {
  color: white;
  text-decoration: none;
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
}
p {
  font-family:'Didact Gothic', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 40vh;
  margin-left: 40vw;
  margin-right: auto;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.aboutp {
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
  color: #fff;
  margin-top: 35vh;
  margin-left: 20vw;
  position: absolute;
  z-index: 3;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  text-align: center;

}

.circle {
  width: .2rem;
  height: .2rem;
  border-radius: 50%;
  border: solid 3px #fff;
  z-index: 4;
  position: absolute;
  margin-top: 30vh;
  margin-left: 50vw;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
  text-align: center;
  opacity: .5;
}

.circle hover {

  opacity: 1;
  transition-duration: 2s;
  
}

.about {
  font-family:'Didact Gothic', sans-serif;
  font-size: .75rem;
  color: #fff;
  margin-top: 50vh;
  margin-left: 46vw;
  margin-right: auto;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}


.leaf1 {
  width: 40rem;
  position: absolute;
  margin-left: 60vw;
  margin-top: 30vh;
  transform: rotate(40deg);
  z-index:2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

/*.leaf1:hover {
  transform: translate(350px,0);
  transition-property: transform;
  transition-duration: 4s;
  transition-timing-function: ease-in-out;
  z-index:2;

}*/

.leaf2 {
  width: 29rem;
  position: absolute;
  margin-left:-400px;
  transform: rotate(-40deg);
  z-index:2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
} 


/*.leaf2:hover {
  transform: translate(-350px,-100px);
  transition-property: transform;
  transition-duration: 4s;
  transition-timing-function: ease-in-out;
  z-index:2;

}

.os {
  font-family:'Didact Gothic', sans-serif;
  font-size: 3vw;
  color: #fff;
  position: absolute;
  z-index: 3;
  margin-top: 10vh;
  margin-left: 10vw;
  animation-name: fadein;
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}
*/
@keyframes fadein { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

@keyframes fadeintwo { 
    0% { 
        opacity: 0; 
    } 
    80% { 
        opacity: 80%; 
     } 
}

