body {
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  position: absolute;
  margin-left: 300px;
  margin-top: 400px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);

}
.wrapper {

  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.frame {

  height: 500px;
  width: 300px;
  border: solid 1px white;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: fadeinout 8s linear forwards infinite;


}

.rotate {
    -webkit-animation: rotation 10s linear;

}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

 
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
