body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width:100vw;
  background-color: #F0433A;
}

body * {
  position: absolute;
  transform-style: preserve-3d;
}

.card1 {

  width: 400px;
  height: 700px;
  background-color: #F0433A;
  margin: -.5*300px (-.5*200);
  backface-visibility: visible;
  animation: rot 14s linear infinite;
  animation-delay: 3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  color: white;
  border-radius: 50px;
  border: solid white 15px;
  z-index: 2;
  left: 100px;
  top: 125px;
}

.card2 {

  width: 400px;
  height: 700px;
  background-color: #F0433A;
  margin: -.5*300px (-.5*200);
  backface-visibility: visible;
  animation: rot 8s linear infinite;
  animation-delay: 3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  color: white;
  left: 600px;
  top: 125px;
  border: solid white 15px;
  z-index: 2;
  border-radius: 50px;


}
.card3 {

  width: 400px;
  height: 700px;
  background-color:#F0433A;
  margin: -.5*300px (-.5*200);
  backface-visibility: visible;
  animation: rot 15s linear infinite;
  animation-delay: 3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  color: white;
  left: 1100px;
  top: 125px;
  border: solid white 15px;
  border-radius: 50px;
  z-index: 2;


}

.card6 {

  width: 400px;
  height: 700px;
  background-color: #F0433A;
  backface-visibility: visible;
  animation: rot 7s linear infinite;
  font-family: 'Montserrat', sans-serif;
  font-size: 110px;
  animation-delay: 3s;
  color:  #F0433A;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #fff;
  border: solid white 15px;
  border-radius: 50px;
  z-index: 1;
  left: 100px;
  top: 125px;

}

.card5 {

  width: 400px;
  height: 700px;
  background-color: #F0433A;
  margin: -.5*300px (-.5*200);
  backface-visibility: visible;
  animation: rot 14s linear infinite;
  font-family: 'Montserrat', sans-serif;
  font-size: 125px;
  animation-delay: 3s;
  color: white;
  left: 600px;
  top: 125px;
  border: solid white 15px;
  border-radius: 50px;
  z-index: 1;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #fff;
  color: #F0433A;
}

.card4 {
 
  width: 400px;
  height: 700px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #fff;
  background-color: #F0433A;
  margin: -.5*300px (-.5*200);
  backface-visibility: visible;
  animation: rot 11s linear infinite;
  animation-delay: 3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 125px;
  top: 125px;
  color: #F0433A;
  left: 1100px;
  border: solid white 15px;
  border-radius: 50px;
  z-index: 1;

}


span {
 top: 300px;
  transform: rotate(-90deg);
}

@keyframes rot {

    50% { transform: rotateX(1turn) rotateY(0turn); }
    50% { transform: rotateX(1turn) rotateY(1turn); }
}



