body {
  margin: 0;
  padding: 0;
}

.wrapper {

  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
}


.frame {

  height: 500px;
  width: 300px;
  border: solid 1px white;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: spin-rectangle-to-circle 3s ease-in-out forwards;
            
}

@-webkit-keyframes spin-rectangle-to-circle {
    100% {
        border-radius: 50%;
        -webkit-transform: scale(1) rotate(360deg);
        width: 500px;
              
    }

}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

