html, body {
	margin: 0;
	padding: 0;
	font-size: 2vw;
}

body {

}

.gridContainer {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.gridItems {
	font-family: linotype-didot, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 7rem;
	color: black;
  opacity: 1;
  visibility: visible;
  transition: opacity 3s liner;

	margin: auto;
  cursor: default;
}

#zero:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: black;
  font-size: 10rem;
  overflow: hidden;
  /* blur */
}

#fourteen:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: black;
  font-size: 10rem;
  overflow: hidden;
  /* blur */
}

#five:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: black;
  font-size: 10rem;
  overflow: hidden;
  /* blur */
}

#three:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: black;
  font-size: 10rem;
  overflow: hidden;
  /* blur */
}

#thirteen:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: black;
  font-size: 10rem;
  overflow: hidden;
  /* blur */
}

#sixteen:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: black;
  font-size: 10rem;
  overflow: hidden;
  /* blur */
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(15px) rotate(35deg);
    transform: translateX(15px) rotate(35deg);
  }
  100% {
    -webkit-transform: translateX(-15px) rotate(-35deg);
    transform: translateX(-35px) rotate(-35deg);
  }
}

.fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.fadeOne {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s 2s, opacity 2s linear;
  transition-delay: 5s;
}

.fadeTwo {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s 2s, opacity 2s linear;
  transition-delay: 10s;
}

.fadeThree {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s 2s, opacity 2s linear;
  transition-delay: 15s;
}

.fadeFour {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s 2s, opacity 2s linear;
  transition-delay: 20s;
}

.fadeFive {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s 2s, opacity 2s linear;
  transition-delay: 25s;
}

.visible{
  visibility: visible;
  opacity: 1;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

